body {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background:hsl(216, 12%, 8%); /* Pretty gradient */
    font-family: 'Arial', sans-serif;
}
.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  hsl(213, 19%, 18%);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: flex-start;
    align-content: stretch;
    max-width: 500px;
    height: 45%;
    width: 25%;
    
}
.rating-state{
    display: flex;
    text-align: center;
    justify-content: space-between;
    display: flex;
}
.submit-state{
    text-align: center;
}
.star-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}
.btn {
    display: inline-block;
    padding: 0.8rem 10rem;
    font-size: 15px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
 }


.btn:hover {
    background-color: #0056b3;
}
.btn:active {
    background-color: #004085;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: flex-start;
    align-content: stretch;
    max-width: 500px;
    height: 45%;
    width: 25%;
    
}

.rating-button {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background:hsl(217, 12%, 63%);
    color: white;
    transition: 0.3s;
    transition: background-color 0.3s ease;
    
}

.rating-button:hover {
    background: #0056b3;
}

.stars {
    margin-top: 30px;
    font-size: 50px;
    color: gold;
    text-align: center;

}